.container .row {
    justify-content: center;
}

.carousel-inner .carousel-item img {
    margin-left: auto;
    margin-right: auto;
    height: 100;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(50%);
}