.container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
}
.content-label {
    display: block;
}